In [8]:
import pandas as pd

df = pd.read_csv("/Users/saikiran/Downloads/financial_health_analysis_dataset.csv")  

df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              20000 non-null  object
 1   Revenue           20000 non-null  int64
 2   Expenses          20000 non-null  int64
 3   Profit            20000 non-null  int64
 4   Cash Flow         20000 non-null  int64
 5   Debt              20000 non-null  int64
 6   Assets            20000 non-null  int64
 7   Liabilities       20000 non-null  int64
 8   Marketing Spend   20000 non-null  int64
 9   Employee Count    20000 non-null  int64
 10  Tax Paid          20000 non-null  int64
 11  Operational Cost  20000 non-null  float64
dtypes: float64(1), int64(10), object(1)
memory usage: 1.8+ MB

,Revenue,Expenses,Profit,Cash Flow,Debt,Assets,Liabilities,Marketing Spend,Employee Count,Tax Paid,Operational Cost
count,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,59508.545100,47249.836400,12258.70870,12248.088650,30082.962300,99968.189150,44978.947150,12483.372500,274.786350,8482.522800,33071.758312
std,23209.165749,18862.986125,29843.89368,29982.651637,11532.833832,28822.209403,14505.592213,4340.376592,130.003427,3751.305433,13524.040510
min,20002.000000,15002.000000,-59398.00000,-62580.000000,10001.000000,50002.000000,20001.000000,5000.000000,50.000000,2000.000000,9030.720000
25%,39384.000000,30729.750000,-9143.00000,-9307.000000,20124.750000,74730.750000,32367.000000,8710.750000,161.000000,5249.750000,21415.405000
50%,59138.500000,46881.000000,12519.00000,12370.500000,30209.000000,100105.500000,44953.000000,12464.000000,274.000000,8457.500000,32708.600000
75%,79509.250000,63630.750000,33641.00000,33594.000000,40115.000000,124779.250000,57628.500000,16282.000000,387.000000,11742.250000,44259.615000
max,99996.000000,79994.000000,84313.00000,86768.000000,49999.000000,149994.000000,69994.000000,19998.000000,499.000000,14999.000000,63970.580000

In [10]:
#Scenario 1: Testing if the average monthly profit is greater than $10,000
#Hypotheses: Null Hypothesis (H₀): The average monthly profit ≤ $10,000, Alternative Hypothesis (H₁): The average monthly profit > $10,000


from scipy import stats


benchmark = 10000
t_stat, p_value = stats.ttest_1samp(df['Profit'], benchmark)

print(f"T-Statistic: {t_stat}, P-Value: {p_value}")

# Interpretation
alpha = 0.05  # 5% significance level
if p_value < alpha:
    print("Reject H₀: The average monthly profit is significantly greater than $10,000.")
else:
    print("Fail to reject H₀: Not enough evidence to claim profit > $10,000.")

    
#Conclusion: Since p-value < 0.05, we reject H₀. So, The average monthly profit is significantly greater than $10,000.

T-Statistic: 10.703350277568916, P-Value: 1.1592207315811859e-26
Reject H₀: The average monthly profit is significantly greater than $10,000.

In [11]:
# Scenario 2: Comparing Revenue and Expenses using a Paired t-test.
#Hypotheses: Null Hypothesis (H₀): There is no significant difference between revenue and expenses. Alternative Hypothesis (H₁): Revenue and expenses are significantly different.


t_stat, p_value = stats.ttest_rel(df['Revenue'], df['Expenses'])

print(f"\nScenario 2 Results:")
print(f"T-statistic: {t_stat:.2f}, P-value: {p_value:.4f}")
if p_value < 0.05:
    print("Reject H0: Revenue and expenses are significantly different.")
else:
    print("Fail to reject H0: No significant difference between revenue and expenses.")
    
#Conclusion: Since p-value < 0.05, we reject H₀. So, Revenue and expenses are significantly different.

Scenario 2 Results:
T-statistic: 58.09, P-value: 0.0000
Reject H0: Revenue and expenses are significantly different.

In [16]:
#Scenario 3: Yearly Revenue and Profit Analysis

df['year'] = pd.to_datetime(df['Date']).dt.year  

# Calculate Yearly Revenue and Profit
yearly_data = df.groupby('year')[['Revenue', 'Profit']].sum()

# Calculate Year-over-Year Growth
yearly_data['Revenue Growth'] = yearly_data['Revenue'].pct_change() * 100
yearly_data['Profit Growth'] = yearly_data['Profit'].pct_change() * 100

print(yearly_data)

       Revenue   Profit  Revenue Growth  Profit Growth
year
2000  21977632  4583807             NaN            NaN
2001  21096388  4005856       -4.009731     -12.608537
2002  21669485  4640653        2.716565      15.846725
2003  21993063  4892870        1.493243       5.434946
2004  22102449  4854704        0.497366      -0.780033
2005  22305180  4598538        0.917233      -5.276655
2006  20821100  3709826       -6.653522     -19.325968
2007  22446138  5500939        7.804765      48.280243
2008  21847798  4346369       -2.665670     -20.988598
2009  21311410  3970276       -2.455112      -8.653039
2010  21427193  4289651        0.543291       8.044151
2011  22302602  4542862        4.085505       5.902835
2012  22099356  4883486       -0.911311       7.498005
2013  21378902  4771742       -3.260068      -2.288202
2014  21446001  3770132        0.313856     -20.990448
2015  21008898  3992033       -2.038156       5.885762
2016  21395710  3843285        1.841182      -3.726122
2017  22200181  5550237        3.759964      44.413880
2018  22496218  4795384        1.333489     -13.600374
2019  22066527  4397005       -1.910059      -8.307552
2020  21266648  4195571       -3.624852      -4.581164
2021  21380155  4939101        0.533732      17.721783
2022  21271964  4834819       -0.506035      -2.111356
2023  21834053  4286373        2.642394     -11.343672
2024  22094953  4330438        1.194922       1.028025
2025  21831478  3988415       -1.192467      -7.898116
2026  22265273  5108731        1.987016      28.089254
2027  21933008  4601404       -1.492301      -9.930587
2028  22647521  4847921        3.257706       5.357430
2029  21410045  4006484       -5.464068     -17.356657
2030  22033512  4648276        2.912030      16.018833
2031  22138003  5148321        0.474237      10.757644
2032  21226288  4172839       -4.118325     -18.947575
2033  21317296  3995706        0.428751      -4.244904
2034  21472928  4334285        0.730074       8.473571
2035  21537024  4095578        0.298497      -5.507414
2036  21356080  4330595       -0.840153       5.738311
2037  21277434  3798732       -0.368260     -12.281523
2038  21301694  3969057        0.114018       4.483733
2039  21990559  4837051        3.233851      21.869023
2040  21586724  3983016       -1.836402     -17.656109
2041  21693856  4892560        0.496287      22.835560
2042  22211193  5111658        2.384717       4.478187
2043  20915044  3559646       -5.835567     -30.362203
2044  21624810  4131221        3.393567      16.057074
2045  22052979  5140480        1.979990      24.430041
2046  21966559  4616887       -0.391874     -10.185683
2047  21835248  4482798       -0.597777      -2.904316
2048  21542527  4374305       -1.340589      -2.420207
2049  20956704  4163282       -2.719379      -4.824149
2050  22177631  4645670        5.825950      11.586724
2051  21827934  4095574       -1.576801     -11.841048
2052  22356929  5415842        2.423477      32.236458
2053  21696662  3920419       -2.953299     -27.612013
2054  16747955  4231464      -22.808610       7.933973

In [ ]:
Summary of key findings:
    *Profit is significantly greater than $10,000 (T-test result, p < 0.05).
    *Revenue and expenses are significantly different, meaning expenses do not fully consume revenue.
    *Year-over-Year revenue and profit growth can be calculated after correcting the column name error.